.govuk-label {
  font-weight: bold;
}
div#votes p  {
  display: inline-block;
  text-align: right;
  padding-right: 10px;
  vertical-align: text-top;
  margin-bottom: 5px;
}
div#vote-button .govuk-button {
  margin-top: -7px;
  margin-bottom: 5px;

}
div#votes div {
  display: inline-block;
  text-align: right;
}
div#votes{
  text-align: right;
}
div#votes p#vote-error {
  display: block;

  color: #B10E1E;

}

